.container {
    width: 100%;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 4px;
    margin-top: 40px;
}

.area {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.area .title {
    font-size: 38px;

    background-clip: text;

    color: #55DF77;

}
