.form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 340px;
}
.form form label{
    color: white;
}
.form form input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    outline: none;

}

.form form button  {
    padding: 10px;
    background-image: radial-gradient(circle at -0.33% 54.4%, #ff8c86 0, #ff7b87 16.67%, #ff6182 33.33%, #f23c78 50%, #da0070 66.67%, #c6006f 83.33%, #b50074 100%);
    color: white;
    border: none;
    border-radius: 4px;

}

.whatsapp {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #34af23;
    color: white;
    border: none;
    border-radius: 4px;
}
.whatsapp a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}
.message {
    display: flex;
}
.textarea {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    outline: none;
    resize: none;
    height: 100px;
}


@media (max-width: 600px) {


    .form {
        width: 100%;
    }

    .form form {
        width: 100%;
    }
}