.card {
    width: 100%;

}

.swiper {
    max-width: 500px;
    height: 410px;
    padding: 8px;
}

.slide {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide .span {
    margin-top: 22px;
    color: white;
}

.span a {
    text-decoration: none;
    font-weight: bold;
    color: #55DF77;
    cursor: pointer;
    background-color: #202124;
    padding: 4px;
    border-radius: 6px;
}


@media (max-width: 700px) {
    .card {
        max-width:340px;
        margin: auto;
    }

    .swiper {
        height: 300px;
    }
}